# an example of the secrets needed by logwatch

# Claude.AI settings
ANTHROPIC_API_KEY=sk-ant-usr...
ANTHROPIC_MODEL=claude-haiku-4-5-20251001  # about a third of the cost

# Email settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASS=<your api key>
MAIL_TO=you@gmail.com
